@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}


/* shared style  */
.display-flex{
  display: flex;
}

/* dark  2  */
.text-grey{
  color:#424242;
}

/* dark 3  */
.text-light-grey{
  color: #727272;
}

.bg-light{
  background-color: rgba(255, 144, 14, 0.1);
}

.navbar{
  justify-content: space-between;
  align-items: center;
}


.brand{
  font-weight: 700;
  font-size: 3rem;
}

.nav-item{
  list-style: none;
  margin-right: 30px;

.nav-link{
  text-decoration: none;
  font-weight: 500;
}


.navbar .banner{
  max-width: 1440px;
  margin: 0 auto;
}

.banner-content {
  max-width: 850px;
  margin: 0 auto;
  text-align: center
}

.banner-title{
  font-weight: 700;
  font-size: 4em;
}

.btn-primary{
  
}